.assetContainer {
  flex-shrink: 0;
  height: 540px;
  width: 540px;
}

.bottom {
  align-items: center;
  column-gap: 96px;
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: 80px;
}

.headerAndDescription {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media only screen and (max-width: 1280px) {
  .bottom {
    column-gap: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .assetContainer {
    display: none;
  }

  .container {
    row-gap: 60px;
  }

  .text {
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .assetContainer {
    height: auto;
    max-width: 540px;
    width: 100%;
  }

  .text {
    row-gap: 24px;
  }
}