.container {
  background-color: var(--color-shader);
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
}

.loadingSpinner {
  display: inline-block;
}

.row1 {
  align-items: center;
  column-gap: 24px;
  display: flex;
  justify-content: space-between;
}

.row1Item {
  flex-shrink: 0;
}

.row2 {
  margin-top: 8px;
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 12px 16px 16px 20px;
  }

  .row1 {
    column-gap: 12px;
  }
}