.modal {
  max-width: 900px;
}

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}