.grid {
  column-gap: 44px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 44px;
}

@media only screen and (max-width: 1600px) {
  .grid {
    column-gap: 36px;
    row-gap: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media only screen and (max-width: 640px) {
  .grid {
    row-gap: 28px;
  }
}
